<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.system.mapper.SysRoleMenuMapper">

	<resultMap type="com.jd.system.domain.SysRoleMenu" id="SysRoleMenuResult">
		<result property="roleId"     column="role_id"      />
		<result property="menuId"     column="menu_id"      />
	</resultMap>

	<select id="checkMenuExistRole" resultType="Integer">
	    select count(1) from SYS_ROLE_MENU where MENU_ID = #{menuId}
	</select>

	<delete id="deleteRoleMenuByRoleId" parameterType="Long">
		delete from SYS_ROLE_MENU where ROLE_ID=#{roleId}
	</delete>

	<delete id="deleteRoleMenu" parameterType="Long">
 		delete from SYS_ROLE_MENU where ROLE_ID in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach>
 	</delete>

	<insert id="batchRoleMenu">
		insert into SYS_ROLE_MENU(ROLE_ID, MENU_ID) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.menuId})
		</foreach>
	</insert>

</mapper>
